@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');
/* font-family: 'Lato', sans-serif; */

body {
    background-color: #646536;
    padding: 50px;
    font: 14px/1.5px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
}
header {
    display: flex;
    text-align: center;
    font-size: 48px;
    font-family: 'Lato';
    color: white;

}
.span {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
    font-size: 36px; 
    font-family: 'Lato';
    text-align: center;
}
.container {
    position: relative;
   width: 100%;
   height: 100%;
   max-width: 1500px;
   min-height: 1500px;
   background: #50463e;
   font-family: 'Lato';
   display: flex;
   padding: 10px;
   margin: 50px;
   border-radius: 10px;
}
.column {
    max-width: 33.33%;
}
.left{
    background-color: #1a090d;
    min-height: 950px;
    border-radius: 10px;
    margin: 15px;
    text-align: center;
    color: #c4f1be;
}
.hover_container {
    display: inline-block;
}
.manImg {
    display: none;
}
.hover-text:hover ~ .manImg {
    display: block;
}

.center {
    max-height: 950px;
    border-radius: 10px;
    margin: 15px;
    text-align: center;
    color: #1a090d;
    background-color: #edb183;

}
.slider{
    width: 350px;
    height: 350px;
    display: flex;
    overflow-x:auto;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}
.slide {
    width: 350px;
    flex-shrink:0;
    height:350px;}

.right {
    background: #1a090d;
    min-height: 950px;
    border-radius: 10px;
    margin: 15px;
    justify-content: center;    
    color: #c4f1be;
}

.brand_statement {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    color:#c4f1be;
}

.center a {
    color: #1a090d;

}
.right a {
    color:#c4f1be;
}

p {    
    font-size: 14px;
}

img {
    width: 250px;
    height: 320px;
    display: inline-block;
    margin: 5px; 
    border-radius: 15px;
}

ul {
    list-style-type: none;
}
.nav_bar {  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: left;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .night_btn {
    display: flex;
    justify-content: right; 
  }
.nav_li {
    float: left;
    
}
.nav_li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav_li a:hover{
    background-color: #111;
}
@media (min-width: 300px) and (orientation: portrait) {
    body {
        display: inline-block;
        justify-content: center;
        align-items: center;
        max-width: 400px;
    }
    .container {
        text-align: center;
        display: grid;
       grid-template-columns: 1fr;
       grid-gap: 10px;
       max-width: 375px;
       justify-items: center;
    }
    .column {
        margin: 10px;
        border: #646536;
        max-width: 350px;
        text-align: center;
    }
    .nav_bar {
        float: none;
    }
    .slider {
        max-width:50%;
    }
}
