@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Gloria+Hallelujah&family=Kalam:wght@300&display=swap');
/* font-family: 'Dancing Script', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Kalam', cursive; */

body {
    background-color: #556b2f;
    padding: 50px;
    font: 14px/1.5px;
    color: #bac4bb;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    font-size: 48px;
    font-family: 'Gloria Hallelujah', cursive;
}

h1, h2, h3, h4, h5, h6 {
    color: #4d5d53;
    margin: 0 0 20px;
    font-size: 36px; 
    font-family: 'Dancing Script', cursive;
}
.container {
    position: relative;
   width: 100%;
   max-width: 1000px;
   min-height: 1000px;
   background: #50463e;
   align-items: stretch;
   font-family: 'Kalam';
   display: flex;
   padding: 10px;
   margin: 50px;
   border-radius: 10px;
}
.left{
    background-color: #738678;
    max-height: 950px;
    border-radius: 10px;
    margin: 15px;
    text-align: left;
}
.center {
    background: #8d7a6c;
    max-height: 950px;
    border-radius: 10px;
    margin: 15px;
    text-align: center;

}
.right {
    background: #738678;
    max-height: 950px;
    border-radius: 10px;
    margin: 15px;
    text-align: left;
}
.brand_statement {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

a {
    color: #4d5d53;

}
p {
    text-align: center;
    color: #bac4bb;
    font-size: 14px;
}
img {
    width: 250px;
    height: 320px;
    display: inline-block;
    margin: 5px; 
    border-radius: 15px;
}

ul {
    list-style-type: none;
}